# templates/isolinux.cfg
DEFAULT corbex-auto
PROMPT 0
TIMEOUT 40
SPLASH /boot/isolinux/splash.png

SAY   /$$$$$$                      /$$
SAY  /$$__  $$                    | $$
SAY | $$  \__/  /$$$$$$   /$$$$$$ | $$$$$$$   /$$$$$$  /$$   /$$
SAY | $$       /$$__  $$ /$$__  $$| $$__  $$ /$$__  $$|  $$ /$$/
SAY | $$      | $$  \ $$| $$  \__/| $$  \ $$| $$$$$$$$ \  $$$$/
SAY | $$    $$| $$  | $$| $$      | $$  | $$| $$_____/  >$$  $$ 
SAY |  $$$$$$/|  $$$$$$/| $$      | $$$$$$$/|  $$$$$$$ /$$/\  $$
SAY  \______/  \______/ |__/      |_______/  \_______/|__/  \__/ 
SAY 
SAY  /$$       /$$
SAY | $$      |__/
SAY | $$       /$$ /$$$$$$$  /$$   /$$ /$$   /$$    DEVUAN
SAY | $$      | $$| $$__  $$| $$  | $$|  $$ /$$/    EXCALIBUR
SAY | $$      | $$| $$  \ $$| $$  | $$ \  $$$$/     6.0.1
SAY | $$      | $$| $$  | $$| $$  | $$  >$$  $$     KERNEL 6.12
SAY | $$$$$$$$| $$| $$  | $$|  $$$$$$/ /$$/\  $$    ARCH amd64
SAY |________/|__/|__/  |__/ \______/ |__/  \__/    Intel Opts
SAY

LABEL corbex-auto
  MENU LABEL ^Instalacion Automatica CorbexOS
  KERNEL /boot/isolinux/linux
  APPEND vga=788 initrd=/boot/isolinux/initrd.gz preseed/file=/preseed.cfg auto=true priority=critical -- quiet

